* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  list-style: none;
}
:root {
  --primary-color: #fd6e0a;
  --text-dark: #181818;
  --text-semi-dark: #474747;
  --text-light-dark: #757575;
}
/* Predefined class */

.btn-primary {
  height: 64px;
  color: #fff;
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  padding: 18px 35px;
  font-size: 20px;
  font-weight: 700;
}

p {
  color: var(--text-light-dark);
}

.section-title {
  font-size: 35px;
  font-weight: 700;
  color: var(--text-dark);
  text-align: center;
}

/* Header section */
.header {
  background-color: #fff8f3;
  height: 837px;
  background-image: url("./images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}
/* Header sub-section: Nav */
.nav {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  align-items: center;
  width: 71.5%;
  margin: 0 auto;
}

.nav-title {
  font-size: 45px;
  font-weight: 800;
}

.nav-title span {
  color: var(--primary-color);
}

.nav li {
  display: inline-block;
  margin-left: 51px;
  font-size: 20px;
}
/* Header sub-section 2: Banner */
/* Banner: Text block */
.banner-text-block {
  position: absolute;
  top: 297px;
  left: 230px;
  width: 585px;
  height: 356px;
}
.banner-sub-title {
  font-size: 45px;
  color: var(--text-semi-dark);
  margin-bottom: 5px;
  font-weight: 600;
}

.banner-title {
  font-size: 85px;
  font-weight: 700;
  columns: var(--text-dark);
  margin-bottom: 20px;
}

.banner-description {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 30px;
}

.contact-button {
  height: 64px;
  color: var(--primary-color);
  background-color: white;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  padding: 18px 35px;
  font-size: 20px;
  font-weight: 700;
  margin-left: 30px;
}
/* Author image */
.author-image {
  position: absolute;
  z-index: 2;
  top: 161px;
  right: 38px;
}

/* Developer Text Image */
.dev-image img {
  height: 764;
  position: absolute;
  z-index: 2;
  top: 38px;
  left: 23px;
}

/* Main */
/* Section: About me */
.about-me {
  margin: 130px auto;
  width: 1144px;
  background-color: #fff8f3;
  border-radius: 10px;
}
/* About me text block */
.about-me-text-block {
  text-align: center;
  width: 827px;
  height: 288px;
  padding: 131px 156px;
}
.about-me-text-block .section-title {
  margin-bottom: 30px;
}
/* Author information */
.author-info {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 30px;
}

.author-info h3 {
  color: var(--text-dark);
  font-weight: 700;
}

.author-info h4 {
  color: var(--text-light-dark);
  font-weight: 400;
}

/* Section: What I do */
.what-i-do {
  width: 1144px;
  margin: 0 auto;
}

.what-i-do > p {
  margin: 30px auto 50px;
  width: 909px;
  text-align: center;
}

.skill-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 130px;
}
.skill-box {
  width: 267px;
  border-radius: 5px;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
}
.skill {
  margin: 30px;
}
.skill img {
  margin-bottom: 30px;
}

.skill h3 {
  margin-bottom: 20px;
}

/* section: My resume */
.my-resume {
  width: 1144px;
  margin: 0 auto 130px;
}
.my-resume .section-title {
  margin-bottom: 130px;
}

.resume-box {
  display: flex;
  justify-content: space-between;
}

.edu-work {
  width: 550px;
}
.edu-work h3 {
  margin-bottom: 30px;
}

.unit h4 {
  margin-bottom: 10px;
}
.unit h5 {
  margin-bottom: 20px;
}

hr {
  margin: 30px 0;
}

.my-resume button {
  margin: 50px auto;
}
